@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html {
  height: 100%;
  overflow: hidden;
}

body{
    /* background: linear-gradient(90deg, #4dc9e6 ,#210cae); */
    margin:0;
    padding:0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    /* width: 100%; */
    /* max-height: 100vh; */
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    /* font-size: 2.5rem; */
    
    cursor: pointer;
    /* margin-top: 10%; */
}

.t{
    margin: 0 2px;
    font-size: 7vw;
    background-image: url("fire.gif");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color : transparent;
    border-radius: 8px;
    mix-blend-mode:lighten;
    position: relative;
    padding-top: 20vh;
    width: 90%;
    text-align: center;
}

.title:hover .t1,
.title:hover .t3,
.title:hover .t5,
.title:hover .t7,
.title:hover .t9,
.title:hover .t11,
.title:hover .t13,
.title:hover .t15,
.title:hover .t17
{
    transform: skew(10deg, 10deg);
    translate: -0.5rem 2rem;
    transition: 0.5s;
}

.title:hover .t2,
.title:hover .t4,
.title:hover .t6,
.title:hover .t8,
.title:hover .t10,
.title:hover .t12,
.title:hover .t14,
.title:hover .t16,
.title:hover .t18

{
    transform: skew(-10deg, -10deg);
    translate: 0.5rem -2rem;
    transition: 0.5s;
}

.link{
    /* position: relative;
    justify-content: center;
    align-items: center;
    text-align: center; */
    font-weight: bolder;
    float: left;
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
    
    cursor: pointer;
    margin: 20px;
    
    /* background: url(button.png);
    background-size: cover; */

    border: 2px solid none;
    border-radius: 20px;
}

.home-link{
    background-color: rgba(255, 255, 255, 0.629);
    margin-top: 30px;   
}
.home-link:hover{
    color: rgba(255, 255, 255, 0.629);
}
.linkedIn-link{
    margin-top: 30px;
    background-color: aqua;
}
.linkedIn-link:hover{
    color: aqua;
}
.link:hover{
    background-color: transparent;
    /* color: aliceblue; */
    border: 5px solid;
    transition: 0.5s;
   
}

a{
    text-decoration: none;
}

#h-link{
    color: black;
}

#img-con{
    height: 25px;
    width: 25px;
    margin: auto;
    border-radius: 50%;

}
/*button*/

.sub{
    /* padding: 0 25vw; */
    background: rgba(51, 51, 51, 0.14);
    width: fit-content;
    margin: auto;
    margin-left: 3vw;
    margin-right: 3vw;
}

.sub-title{
    /* display: flex; */
    /* text-indent: 50px; */
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-size: 3vmin;
    cursor: pointer;
    /* padding: 0 30px; */
    margin: 0;
    margin-top: 20vh;
    /* margin-top: 10%; */
}

.oneline{
    display: flex;
    background-color: #007ea1;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.gity-page{
    background-color: #333;
    margin: 0;
}

.side-gity{
    display: flex;
    /* flex:1 ; */
    height: 100vh;
    
}

.left-side-gity{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    width: 100%;
    margin: 0;
    /* margin-right: 20px; */
}

.right-side-gity{
    display: flex;
  /* flex: 1; */
    width: 200vw;
    height: auto;
    margin: 0;
}

.img-gity{
    max-width: 20vmin;
    max-height: 20vmin;
    border-radius: 50%;
    margin: 10vh 10vw 0;
    background-size: contain;
    z-index: 1;
}

.title-gity{
    padding-left: 11vw;
    font-size: 2vw;
    color: white;
    margin: 0;
    margin-top: 10px;
    /* width: 9vw; */
}

.subtitle-gity{
    padding-left: 11vw;
    font-size: 1.5vw;
    color: rgb(147, 147, 147);
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.text-gity{
    padding-left: 11vw;
    font-size: 1.5vmin;
    color: white;
    margin: 0;
    width: 16vw;
    letter-spacing: 2px;
}

.btn-gity{
    width: 15vw;
    height: 3vh;
    background-color: rgba(98, 98, 98, 0.675);
    border: 1px solid rgb(171, 171, 171);
    border-radius: 8px;
    margin: 0;
    margin-left: 11vw;
    color: white;
    font-size: 2vmin;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.line-gity{
    width: 100%;
    height: 1px;
    background-color: rgba(171, 171, 171, 0.173);
    margin: 0;
    z-index: 0;
    margin-top: 14vh;
    position: absolute;
}

.top-menu-gity{
    position: absolute;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: 100%;
    height: 50px;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    font-size: 1.5vw;
    margin-top: 9vh;
    margin-left: 37vw;
    cursor: pointer;
}

#overview{
    margin-right: 50px;
}

.content{
    position: absolute;
    margin-left: 20px;
    margin-top: 17vh;
    max-width: 60vw;
    height: auto;
    border-radius: 8px;
    border: 2px solid rgb(171, 171, 171);
    /* background-color: rgba(98, 98, 98, 0.675); */
}

.menu-pic{
    width: 100%;
    height: 7vmin;
    margin: 0;
    background-image: url("github-menu.png");
    background-size:cover;
    background-repeat: no-repeat;
}

#overview{
    list-style-image: url("Science-Literature-icon.png");
}

.text-overview{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    word-spacing: 2px;
    line-height: 20px;
    padding: 8px;
}

#repository{
    list-style-image: url("Book-icon.png");
}

.tg{
    margin: 2px 0;
}

.tm{
    font-size: smaller;
}

.repos{
  display: flex;
  flex-flow: row wrap;
  justify-content:left;
  width: 50vw;
  /* grid-template-columns: auto auto; */
  gap: 2vmin;
  /* align-items: start; */
  /* justify-content: space-evenly; */
  padding: 0.9vmin;
  /* min-width: 40vmin;
  height: 20vmin; */
}
#div2{
  border: none;
}


.repo{
  /* grid-row: inherit;
  grid-column: inherit; */
  border: #fff solid 1px;
  padding: 2px;
  border-radius: 5px;
  width: 17vw;
  display: grid;
  margin: 0 0.5vw;
  grid-template-columns: 1fr 7vw;
  /* gap: 1vmin; */
}

.repo-link{
  text-decoration: none;
  color: rgb(0, 145, 255);
  font-size: 2vmin;
  margin-right: 3vmin;
  margin-top: 0.2vmin;
  margin-left: 0.5vmin;
  width: 2vmin;
}

.repo-status{
  font-size: 1.5vmin;
  color: rgba(244, 244, 244, 0.499);
  padding: 2px;
  margin: 0.5vmin;
  border: rgba(255, 255, 255, 0.511) solid 1px;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
  /* margin-left: 3vmin; */
  /* margin-top: 1.5vmin; */
}

.repo-lang{
  font-size: 1.5vmin;
  color: rgb(244, 244, 244);
  list-style: none;
  margin-left: 1vmin;
  margin-top: 2vmin;
  padding: 0;
  height: 4vmin;
  /* margin-bottom: 1vmin; */
  /* list-style-type: circle; */
  /* list-style: repeating-linear-gradient(45deg, #fff, #fff 10px, #000 10px, #000 20px); */
}
 
.lang-stat::before{
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 2vw; /* Also needed for space (tweak if needed) */
  margin-left: 0.5vw; /* Also needed for space (tweak if needed) */
  font-size: 2.5vw;
  /* margin: -3px; */
  margin-bottom: 0;
  vertical-align:middle;
}

#clblue:before{
  color: blue; /* Change the color */
}
#clred:before{
  color: red; /* Change the color */
}
#clorange:before{
  color: rgb(255, 115, 0); /* Change the color */
}

#clgrey::before{
  color: grey;
}

#cllightblue::before{
  color: rgb(0, 145, 255);
}

#clpink::before{
  color: rgb(255, 0, 115);
}

#message{
  width: 100%;
  height: auto;
  background-color: red;
  font-size: 2vh;
  color: white;
  padding: 5px;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: end;
}

.top-link-header{
  display:flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  margin: 0 auto;
  border: 1px solid #333;
 margin-top: 2vh; 
 border-radius: 8px;
 box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}


.main-img-link-header{
  width: 100%;
  height: 20vmin;
  background-image: url("1635183210641.jfif");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #333;
  border-radius: 8px 8px 0 0;
  margin-left: -1px;
  
}

.split-link-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin: 0 2px;
  margin-top: 2vmin;
  
}

.title-link-header{
  margin: 0 2vmin;
  font-size: 6vmin;
  color: rgb(0, 0, 0);
  font-weight: 700;
  height: fit-content;
}

.place-link-header{
  /* margin-left: 40vw; */
  margin: 0 2vmin;
  margin-top: 1vmin;
  font-size: 3vmin;
  color: rgb(0, 0, 0);
  font-weight: 700;
  height: fit-content;
}

.MLev-img{
  width: 5vmin;
  height: 3vmin;
  background-image: url("MLev.jfif");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  /* margin-left: -1px; */
  float: left;
  margin-right: 2px;
}

.sub-link-header{
  
  margin: 0 2vmin;
  margin-bottom: 2vh;
  font-size: 3vmin;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.talks-about{
  margin: 0 2vmin;
  margin-bottom: 2vh;
  font-size: 3vmin;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.link-div{
  margin: 0 2vmin;
  margin-bottom: 2vh;
  background-color: #007ea1;
  border-radius: 8px;
  height: fit-content;
  width: fit-content;
  padding: 0 1vmin;
  border: 1px solid #333;
}

.link-link{
  text-decoration: none;
  color: white;
  font-size: 2vmin;
  font-weight: 600;
}

.about-title-link{
  margin: 2vmin;
  width: 60%;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.text-about-link{
  margin: 0 2vmin;
  margin-top: 2vh;
  font-size: 3vmin;
  color: rgb(0, 0, 0);
  font-weight: 600;
  width: 90%;
  margin-bottom: 2vh;
}





/*codepen*/

p {
    font-size: 140%;
    line-height: 150%;
    color: #333;
  }
  
  .slide {
    position: relative;
    /* padding: 25vh 10%; */
    min-height: 100vh;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
      transform-style: inherit;
  }
  
  /* .cimg {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 320px;
    height: 240px;
    transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
    padding: 10px;
    border-radius: 5px;
    background: rgba(240,230,220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  }
  
  .cimg:last-of-type {
    transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
  } */
  

  .ctitle {
    width: 50%;
    padding: 5%;
    border-radius: 5px;
    background: rgba(240,230,220, .7);
    /* box-shadow: 0 0 8px rgba(0, 0, 0, .7); */
  }

  .slide, .slide:before {
    background: 50% 50% / cover;  
  }
  
  .header {
    text-align: center;
    font-size: 175%;
    color: #fff;
    /* text-shadow: 0 2px 2px #000; */
  }
  
  #ctitle {
    background-image: url("dndwarrior.png");
    z-index:2;
  }

  #slide2{
    background:rgb(244, 244, 244);
    z-index:2;
    /* padding: 1px; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    position: relative;
  }